html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #104547;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 32px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 17px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}