html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #104547;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 32px;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

.logo img{
    width: auto;
    height: 40px;
}